.navbar {
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier", monospace;
}

.navbar-logo {
  max-width: 25%; /* Double the size of the logo */
  height: auto;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px; /* Space between menu items */
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 5px 10px ;
  /* font-weight: bold; */
  font-size: 1.5rem; /* Increase the font size by 25% */
  font-family: 'Times New Roman', Times, serif;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  color: white;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  list-style: none;
  width: 200px;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: block;
}

.dropdown-item:hover {
  background-color: #333; /* Darken item on hover */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-list {
    position: static;
    width: 100%; /* Make dropdown take full width */
    box-shadow: none;
    border-radius: 0;
  }

  .navbar-link {
    padding: 10px;
    width: 100%; /* Make each link full width for better mobile usability */
    font-size: 1.25rem; /* Increase font size on mobile for better readability */
  }

  .navbar-logo {
    max-width: 40%; /* Slightly increase logo size on mobile screens */
  }
}
