/* AddonServices.css */

.addon-services-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Ensure the container takes full viewport height */
  position: relative; /* Necessary for absolute positioning of the button */
}

.addon-service {
  margin-bottom: 2rem; /* Space between service sections */
  text-align: center;
  max-width: 800px; /* Limit the width for larger screens */
  width: 90%; /* Take up most of the width on smaller screens */
}

.last-addon-service {
  margin-bottom: 5rem;
}


.addon-service-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-family: Garamond, serif;
}

.addon-service-image {
  width: 60%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
  object-fit: cover;
}

.addon-service-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-family: Garamond, serif;
}

.addon-service-list {
  list-style-type: disc; /* Adds bullet points */
  padding-left: 0; /* Remove default padding */
  font-size: 1.5rem;
  text-align: center; /* Center the text content */
  font-family: Garamond, serif;
  display: inline-block; /* Allow centering of list */
}

.addon-service-list li {
  text-align: left; /* Revert text alignment inside list items */
  margin-left: 20px; /* Add left margin for bullets */
}

.book-now-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.book-now-button:hover {
  background-color: #ff0000; /* Change color on hover */
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .addon-services-container {
    padding: 10px;
  }
    .last-addon-service {
        margin-bottom: 3rem;
    }
  .addon-service-header {
      font-size: 2rem; /* Smaller font size for mobile */
  }

  .addon-service-image {
      width: 80%; /* Adjust width for smaller screens */
  }

  .addon-service-description {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

  .addon-service-list {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }

   .addon-service-list li {
    margin-left: 10px; /* Adjust margin for smaller screens */
   }

   .book-now-button {
    bottom: 10px;
    right: 5px;
    font-size: 14px;
    padding: 8px 16px;
   }

}