/* Home Page Container */
.home-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 0px; /* Ensure navbar doesn't overlap */
}

/* Header text styling with typing effect */
.header-text {
  font-family:'garamond', serif;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  overflow: hidden; /* Hide the text until it's revealed */
  white-space: nowrap; /* Prevent text wrapping */
  border-right: 4px solid white; /* Creates a cursor effect */
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
  font-weight: lighter;
}


/* Main image container */
.image-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between rows */
  margin-top: 0px;
  width: 100%; /* Full width for responsiveness */
  justify-content: center;
  align-items: center;
}

/* Row styling */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between images */
  width: 100%;
  flex-wrap: wrap; /* Allow images to wrap on smaller screens */
}

/* Individual image styling */
.image {
    width: 300px; /* Increased width */
    height: 300px; /* Increased height */
    object-fit: cover; /* Ensure images cover the space without losing aspect ratio */
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

/* Custom styling for MinWhitening row */
.min-whitening-row {
  justify-content: center; /* Center align MinWhitening */
}

.min-whitening {
  width: 300px; /* Increased width */
  height: 300px; /* Ensure MinWhitening image is similar size */
  object-fit: cover; /* Ensure MinWhitening image covers the space without losing aspect ratio */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .header-text {
    font-size: 3rem; /* Adjust font size for mobile */
    margin-top: -50px; /* Adjust top margin for mobile */
  }

  .row {
    flex-direction: column; /* Stack images vertically */
    gap: 15px; /* Reduce gap between images */
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;

  }

  .min-whitening {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* Extra small screen responsiveness (phones in portrait mode) */
@media (max-width: 480px) {
  .header-text {
    font-size: 2.5rem; /* Smaller font size on smaller screens */
    margin-top: -30px; /* Adjust top margin for very small screens */
  }

  .image {
    width: 100%; /* Further adjust image width for very small screens */
    height: auto;
    object-fit: cover;
  }

  .min-whitening {
    width: 100%; /* Adjust MinWhitening size for very small screens */
    height: auto;
    object-fit: cover;
  }
}